@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  width: 50%;
  height: 41.92px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14.2712px;
  line-height: 25px;
  align-items: center;
  color: #ff5438;
  text-decoration: none;
  display: none;
}

nav ul li a {
  display: none;
  list-style: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.option ul li a {
  display: block;
  color: #fff;
}

nav ul {
  list-style: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.humburger {
  width: 25px;
}

/*
.option ul li a {
  display: block;
  color: #fff;
} */

.Logo {
  display: none;
}

/* -----menu sec-------------- */
.option {
  background-color: #ec4327;
  color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: -100%;
  left: 0;
  right: 0;
}

.show {
  top: 0;
}

.option button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.option ul li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  list-style: none;
  justify-content: center;
  padding: 5px;
  margin-top: 4rem;
}

#closebtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.great-text {
  color: rgb(252, 50, 14);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.notes {
  margin-top: 80px;
}

#top-sections {
  background-image: url("images/mobile-bg.png");
  background-position: center;
  margin-top: 30px;
}

.pic-sizing {
  width: 65px;
  height: 100px;
}

h1 {
  color: rgb(252, 50, 14);
  font-family: "Lato", sans-serif;
  font-weight: 900 !important;
  background-image: url("images/fire.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  width: 100%;
}

article {
  height: 51px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.01em;
  color: #515151;
  padding: 46px 0;
  width: 90%;
  display: block;
}

.center-main {
  background-color: #fff;
  width: 95%;
}

.center-main1 {
  background-color: #fff;
  width: 95%;
}

.date {
  padding: 20px 0;
  width: 80%;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  align-items: center;
  color: #595959;
  margin: 0 0;
  padding-bottom: 0;
}

.loaction {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 0px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #868686;
  padding: 14px 0;
}

.event-details {
  height: 82.06px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10.7034px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 80%;
}

.btn {
  padding: 40px 0;
}

.horizontal-main-line {
  border: 2px solid #a04038;
  width: 30px;
  height: 0;
}

/* .inter-act {
  height: 17px;
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
} */

.inter-act1 {
  height: 17px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 40px;
}

.inter-act2 {
  width: 100%;
  height: 28px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
}

.inter-act4 {
  width: 100%;
  height: 28px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.inter-act3 {
  width: 100%;
  height: 28px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  padding: 15px 0;
}

/* --------------main program section--- */
.guest {
  background-image: url("");
}

.activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8.92px;
  background-color: rgba(60, 63, 70, 0.5);
  margin: 10px 5px;
}

.inter-act {
  color: black;
}

.pro {
  width: 30%;
}

.sub-ticket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap: 10px;
  width: 70%;
  height: 68px;
  background: #ff4f38;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  border: none;
  margin: 20px 20px 0 14%;
}

.line-up {
  display: none;
}

#main-program-sec {
  background-image: url("images/bfx.png");
  background-color: #2d3037;
}

/* act--------------- */

/* .pic-sizing {
  height: 136px;
  width: 107px;
  left: 0;
  top: 0;
  border-radius: 0;
} */

.artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  gap: 8.92px;
}

.line-speaker {
  width: 17.79px;
  height: 2px;
  border: 1.42315px solid #d9d9d9;
  margin-left: 5px;
}

.art-name {
  margin: 5px;
  height: 18px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000;
}

.artist-bio {
  margin-top: 15px;
  width: 95%;
  height: 47px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000;
}

.expandaBtn {
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 4px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
  margin: 22px 0;
}

.art-name.color {
  color: #f78c89;
}

.bout-dur {
  color: rgb(252, 50, 14);
  font-family: "Lato", sans-serif;
  font-weight: 900 !important;
  font-size: 50px;
  width: 100%;
}

/* ------------------------about section------------- */
.raw-text {
  width: 100%;
  height: 42px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #838383;
}

.logo-compertition {
  background-color: #eee;
  width: 100%;
}

.winner-circle {
  height: 42px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #838383;
}

.about-dur {
  color: rgb(252, 50, 14);
  font-family: "Lato", sans-serif;
  font-weight: 900 !important;
  font-size: 50px;
  width: 100%;
}

.about-discription {
  width: 100%;
  height: 116px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.06em;
  color: #000;
}

.about-discription1 article {
  display: none;
}

.about-discription1 {
  display: none;
}

.pic-overlay {
  position: relative;
  margin: 20px;
}

.last-shows {
  position: relative;
  margin: 20px;
}

.pic-overlay img {
  width: 100%;
  opacity: 0.4;
  background-color: rgb(245, 122, 89);
}

.mabhida1 {
  width: 100%;
  opacity: 0.4;
  background-color: rgb(245, 122, 89);
}

.mabhida {
  width: 100%;
  background-color: rgb(245, 122, 89);
  margin: 20px 0;
}

.spark1 {
  width: 100%;
  opacity: 0.4;
}

.spark {
  background-color: rgb(245, 122, 89);
  margin: 20px 0;
}

.vanue1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.pic-year1 {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.vanue {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.pic-year {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

#sponsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px;
  gap: 10px;
  width: 100%;
  height: 216px;
  background: #414246;
  display: none;
}

#sponsers1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px;
  gap: 10px;
  width: 100%;
  height: 216px;
  background: #414246;
}


/* ---FOOTER SOPNSOERS --------------- */

.shows2020 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

.Sponsr1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #fff;
  font-style: normal;
}

.Sponsr2 {
  font-size: 30px;
  color: #e00101;
  font-style: normal;
}

.Sponsr3 {
  font-size: 30px;
  color: #b8bb0c;
  font-style: normal;
}

.Sponsr4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #05681a;
  font-style: normal;
}

.Sponsr5 {
  font-family: "lato", sans-serif;
  font-size: 35px;
  color: #080808;
  font-style: normal;
}

.Sponsr6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: #ece5e5;
  font-style: normal;
}

.images {
  display: flex;
}

.closing-footer {
  width: 40%;
  height: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #3b3e45;
  display: none;
}

.chana-bottom {
  display: none;
}

.chana-bottom1 {
  width: 683px;
  height: 56px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  align-items: center;
  letter-spacing: -0.04em;
  color: #fff;
  display: none;
}

.bot {
  display: flex;
  flex-direction: row;
}

.bottom-footer {
  display: flex;
}

.ogo1 {
  color: rgb(252, 50, 14);
  font-family: "Lato", sans-serif;
  font-weight: 900 !important;
  background-image: url("images/fire.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  width: 20%;
  padding: 36px;
}

.closing-footer1 {
  width: 158px;
  height: 24px;
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #3b3e45;
}


/* -----------------destop version-------------- */

@media screen and (min-width: 768px) {
  a {
    width: 90%;
    height: 27px;
    left: 55px;
    top: 71px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.01em;
    color: #ff5438;
  }

  nav ul li a {
    display: flex;
    flex-direction: row;
    border-style: none;
    margin-left: 25px;
    color: #868686;
  }

  /* -----meune--- */
  .option {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 35px;
    margin-right: 25px;
  }

  .col-nav {
    color: #ec4327;
    border: 3px solid #ec4327;
    position: relative;
    width: 91px;
    height: 39px;
    left: -24px;
    top: -0.5px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
  }

  .closeBtn {
    display: none;
  }

  .col-nav1 {
    color: #ec4327;
  }

  .Logo {
    color: rgb(252, 50, 14);
    font-family: "Lato", sans-serif;
    font-weight: 900 !important;
    background-image: url("images/fire.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 20%;
  }

  
  .Logo10 {
    color: rgb(252, 50, 14);
    font-family: "Lato", sans-serif;
    font-weight: 900 !important;
    background-image: url("images/fire.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 20%;
  }

  .pro {
    width: 50%;
    height: 75px;
  }

  .center-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 245px;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
  }

  .notes {
    margin-left: 10%;
  }

  .humburger {
    display: none;
  }

  article {
    height: 140px;
    left: 29.74px;
    top: 36.32px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.4902px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #515151;
  }

  .about-discription1 {
    width: 100%;
    height: 116px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.06em;
    color: #000;
  }

  .about-discription1 article {
    display: none;
  }

  .date {
    width: 608.35px;
    height: 78.09px;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42.4837px;
    line-height: 0px;
    display: flex;
    align-items: center;
    letter-spacing: -0.08em;
    color: #595959;
    margin: 0 0;
    padding-bottom: 0;
  }

  .loaction {
    width: 715.85px;
    height: 27.61px;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27.6144px;
    line-height: 0px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #868686;
  }

  /* -----main feature--- */

  .guest {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    margin-left: 10%;
  }

  .line-up {
    width: 257px;
    height: 19px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-items: center;
    align-items: center;
    letter-spacing: -0.01em;
    color: #fff;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 36px 0 0 42%;
  }

  .sub-ticket {
    display: none;
  }

  .activity {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .activity :hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }

  .main-feature :hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }

  .event-details {
    width: 175px;
    height: 72px;
    left: 0;
    top: 111px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

  /* -------------international act------grid------- */

  .artist-line-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem 5rem;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  /* -----about page--- */
  .about-main-sec {
    background-image: url("images/mobile-bg.png");
    background-position: center;
  }

  .about-dur {
    color: rgb(252, 50, 14);
    font-family: "Lato", sans-serif;
    font-weight: 900 !important;
    font-size: 70px;
    width: 100%;
  }

  .about-discription {
    width: 80%;
    height: 175px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #000;
    background-color: #fff;
    display: none;
  }

  .go1 {
    color: rgb(245, 122, 89);
    padding-left: 2rem;
    margin-left: 3rem;
  }

  .pic-overlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    width: 80%;
    gap: 2rem;
    margin-left: 10%;
  }

  .great-text {
    display: none;
  }

  .vanue {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
  }

  .pic-year {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
  }

  .vanue1 {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
  }

  .pic-year1 {
    position: absolute;
    top: 49%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
  }

  .pic-overlay img {
    width: 100%;
    opacity: 0.4;
    background-color: rgb(245, 122, 89);
    height: 100%;
  }

  .raw-text {
    width: 100%;
    height: 42px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #838383;
    padding: 3.5rem;
  }

  .expandaBtn {
    display: none;
  }

  /* ------footer---- */

  #sponsers {
    display: block;
  }

  .bottom-footer {
    display: flex;
  }

  .chana-bottom {
    width: 683px;
    height: 56px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #000;
  }

  .chana-bottom1 {
    width: 683px;
    height: 56px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .ogo1 {
    color: rgb(252, 50, 14);
    font-family: "Lato", sans-serif;
    font-weight: 900 !important;
    background-image: url("images/fire.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 20%;
    padding: 36px;
    display: none;
  }

  .logo-compertition {
    background-color: #eee;
    width: 100%;
  }

  .winner-circle {
    height: 63px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #838383;
  }

  .closing-footer {
    width: 60%;
    height: 24px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3b3e45;
  }

  .closing-footer1 {
    width: 60%;
    height: 24px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #fff;
  }
}

/* ---yes-- */
